@charset "utf-8";
/* CSS Document */

body {
	background-color: #3f5c3b;
  background-image: url("../images/map-background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

body.not-logged-in div.node-edit-link { overflow:hidden; height:0px; }

.node-super-head {
	background-color:#ffffff;
	text-align:left;
	margin: 0px;
	padding: 0px;
	display:block;
	padding:2px;
	padding-left: 15px;
	margin-bottom:4px;
	width: 600px;
	color: #347FA5;
	text-transform:uppercase;
	letter-spacing: 1px;
	font-weight:bold;
	font-size:90%;
	background-image: url(../images/little-banner-2.jpg);
	background-repeat: no-repeat;
}
.node .fivestar-static-form-item,
.view-Pictures .fivestar-widget-static {display:none;}
.node.build-mode-full form.fivestar-widget {position:absolute; top:35px; right:37px;}
.view-Pictures form.fivestar-widget{position:relative;left:215px;top:-20px;width:102px;}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #003359;
}

h1 {
	font-size: 1.9em;
	line-height: 1.2em;
}

h2 {
	font-size: 1.4em;
	line-height: 1.2em;
}

h3 {
	font-size: 1.2em;
	line-height: 1.2em;
}

h4, h5, h6 {
	font-size: 1.0em;
	line-height: 1.2em;
}

a:link {
	color: #0066a4;
	text-decoration:none;
}

a:visited {
	color: #0066a4;
	text-decoration:none;
}

a:hover,
a:focus {
	color: #35a4e7;
	text-decoration:none;
}

a:active {
	color: #000;
}

.block ul, .item-list ul {
	padding-left: 1.5em;
}

.item-list ul li {
	list-style-position: outside;
	list-style-type: square;
	margin-bottom: 3px;
}

#page-wrapper {
	z-index: 5 !important;
}

#background-map {
	background-color: transparent;
	background-repeat:no-repeat;
	background-position: center top;
	background-image:url(../images/map-background.jpg);
	height: 1300px;
	top: -2px;
	width: 1800px;
	left:50%;
	margin-left: -900px;
	position:absolute;
	text-align:center;
	z-index:0 !important;
}

#header {
	height: 90px;
	background-color: transparent !important;
	position:relative;
	z-index: 5;
}


#page {
  /* Use a 12px base font size with a 16px line height */
  font-size: 0.8em; /* 16px x .75 = 12px */
  line-height: 1.4em; /* 12px x 1.333 = 16px */

}

#main {
	background-color:#ffffff;
	background-image:url(../images/main-back.png);
	background-repeat:repeat-x;
	padding-top: 20px;
  display:block;
}

#content, .no-sidebars #content, .two-sidebars #content {
	float:right;
	width:700px; !important;
	margin: 0px; !important;
	margin-right: 20px; !important;
	padding: 30px;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: transparent !important;
	background-image:url(../images/content-back.png);
	background-repeat:repeat-y;
	min-height:400px;
	z-index: 5 !important;
}

#content-top-shadow {
	float:right;
	width:760px;
	margin-right: 20px;
	background-color: transparent !important;
	background-image:url(../images/content-top-back.png);
	background-repeat:no-repeat;
	height: 20px;
	margin-top:0px;
	z-index: 5 !important;
}

.region-content-bottom { border-top:1px dashed #DEE6D8; margin-top:19px; padding-top:19px; }

#content-bottom-shadow {
	float:right;
	width:760px;
	margin-right: 20px;
	background-color: transparent !important;
	background-image:url(../images/content-bottom-back.png);
	background-repeat:no-repeat;
	height: 20px;
	margin-bottom:0px;
	z-index: 5 !important;
}

#navigation {
	width: 180px;
	margin:0px;
	margin-top: 10px;
	height:auto;
	z-index:10 !important;
        overflow:visible;
}

.region-navigation {
  margin-top:50px;
}
#main-menu li {
	padding: 0px;
	margin-bottom: 8px;
}
	
#main-menu li a:link, #main-menu li a:visited  {
	background-color: #003359;
	padding: 14px;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom:7px;
	color:#ffffff;
	font-size: 1.3em;
	line-height: 1.3em;
	background-image:none;
	text-decoration:none;
	font-family:Georgia, "Times New Roman", Times, serif;
	display:block;
	height:auto;
	width: 139px;
}

#main-menu li a:hover {
	background-image:url(../images/nav-hover.png);
	background-repeat:no-repeat;
	background-position:-10px 0px;
	background-color: transparent !important;
}

#main-menu li a.active, #main-menu li a.active:hover {
	background-image:url(../images/nav-active.png);
	background-repeat:no-repeat;
	background-position:-30px -10px;
	background-color: transparent !important;
	width: 136px;
	padding-right: 30px;
}

ul.links li.cg_term_links { margin:9px 12px; display:block; }
ul.links li.cg_term_links a { padding: 2px 9px; background:#DEE6D8; border-radius:3px; }
ul.links li.cg_term_delete { float:left; display:block; }
ul.links li.cg_term_delete a {
  background: none repeat scroll 0 0 lightsalmon;
  border-radius: 12px 12px 12px 12px;
  color: white;
  display: block;
  font-weight: bold;
  height: 14px;
  line-height: 12px;
  margin-right: 4px;
  margin-top: 2px;
  text-align: center;
  width: 14px;
}

/* like and share buttons ---------------------------------------------------------------------*/
.likelinks .ext {background:none; padding-right:0;}
.likelinks div.fb-like {position:relative; top:-3px; background:white; min-width:150px; min-height:20px; }
.likelinks div {margin-top:4px; display:inline-block;}
.likelinks {float:right; clear:right; width:320px; border: 1px solid #DEE6D8; border-radius: 6px; margin-left:19px; padding:0 12px 6px; }
.field-field-overview, .node-body, .field-field-audio {clear:left;}
.likelinks.top {width:360px; margin:12px 9px 9px 0; padding: 4px 6px 0; margin-right:0; float:left; height:24px; clear:left; position:relative;}
.likelinks.top div {margin:0;}
.likelinks h2.title {font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif; margin-top:12px;}
.likelinks.top .fb-buttons {width: 150px; height:21px; position:absolute; left:5px; top:7px;}
.likelinks.top .t-buttons {width: 109px; height:24px; position:absolute; left:160px; top:4px;}
.likelinks .t-buttons a {color:white;}
.likelinks.top .g-buttons {width:90px; height:24px; overflow:hidden; position:absolute; left:274px; top:4px;}

/* the blocks under the main content ---------------------------------------------------------------------*/
#after_content_bottom {
	background-color: transparent !important;
	position:relative;
	clear:both;
	margin-bottom: 25px;
}

.view-id-talk_navigation { width:41%; padding-right:9%; }
.view-id-talk_navigation.view-display-id-block_1 { float:right; padding-right:0; padding-left:9px; text-align:right; }

#block-views-encounter_block-block_1, #block-views-events_block-block_1, #block-views-daily-block_1, #block-block-2, #block-block-3, #block-block-4  { /* this is the set of three blocks */
	width: 235px;
	margin: 9px;
	margin-right:0px;
	border-right: 1px solid #000;
	float:right;
	padding-right: 9px;
	min-height: 200px;
	margin-bottom:20px;
}


#block-block-2 { /* this is the map --- */
	padding-left: 10px;
	margin-left: 179px;
}

#block-block-2 h2.title {
	margin-bottom: 9px;
}

#block-block-2 p {
	margin:0px;
	padding:0px;
}

#block-block-2 a:link {
	text-decoration:none;
	line-height:12px;
}

#block-block-2 img {
	margin-top: 6px;
	}

#block-views-events_block-block_1 { /* this is the event block */
	border-right: 0px solid #000;
}

#block-views-encounter_block-block_1  .view-header img, #block-views-events_block-block_1  .view-header img {
	float:right;
	margin-left: 9px;
	margin-bottom: 9px;
	margin-right:5px;
	width: 80px;
	height: auto;
	margin-top: -50px;
}
#block-views-encounter_block-block_1 h2.title, #block-views-events_block-block_1 h2.title{
	margin-right:100px;
}

#block-block-7 span.ext {display:none;}
.twitter-follow-header {
  font-weight:bold;
  font-family:Verdana;
  font-size:12px;
  background: #d3dcd6;
  color:#333;
  padding-left:10px;
  margin-bottom:9px;
  line-height:32px;
}
.twitter-follow-box {margin:0 auto; text-align:center; margin-bottom:24px;}

#block-block-6 {clear:right; margin-left:192px;}
#block-block-6 .block { /*  get involved and resources blocks */
    background-color: #003359;
    border-right: 0 solid #000000;
    left: 0;
    margin-bottom: 0;
    margin-right: 9px;
    margin-left: 0;
    min-height: 50px;
    padding: 5px 5px 0 5px;
    width: 134px;
    overflow:hidden;
    height:80px;
    margin-top:19px;
    position:relative;
    float:left;
}
#block-block-6 .block h2 /*  get involved and resources headline */
{
	color: #ffffff;
	margin:0px;
	margin-bottom: 6px;
	padding: 0px;
	padding-left: 10px;
  line-height:1em;
  font-size:1.1em; 
}
#block-block-6 .block h2 a { color:white; }
#block-block-6 .block .content { height:54px; position:relative; overflow:hidden; }

#block-views-daily-block_1 .content {
  background: url(../images/newspaper.png) no-repeat top left;
  width:226px;
  margin-left:9px;
  height:155px;
  font-family:Georgia,"Times New Roman",Times,serif;
  padding-top:9px;
  position:relative;
}
#block-views-daily-block_1 .content .view-content,
#block-views-daily-block_1 .content .view-empty {
  height: 83px;
  overflow: hidden;
  padding-left: 26px;
  width: 159px;
  padding-top:7px;
}
#block-views-daily-block_1 .content .views-field-title {
  font-size:10px;
  font-variant:small-caps;
  line-height:11px;
  max-height: 55px;
  overflow: hidden;
  background:white;
}
#block-views-daily-block_1 .content .views-field-field-main-image-fid {
  float:left;
  margin-right:9px;
}
#block-views-daily-block_1 .content .more-link {
  position:absolute;
  bottom:29px;
  right:43px;
  font-size:10px;
  font-weight:bold;
  text-decoration:underline;
}
a.daily-centenarian-link {
  display:block;
  width:165px;
  margin:0 0 0 26px;
  font-size:10px;
  line-height:10px;
  text-align:center;
  font-weight:bold;
}
a.daily-centenarian-link span.daily-headline {
  display:block;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:13px;
  font-variant:small-caps;
  line-height:12px;
  padding-top:12px;
  margin-bottom:4px;
  font-style:italic;
}

#block-masquerade-0 {
	width: 155px;
	margin-left: 12px;
	margin-top: 15px;
	display:block;
  position:absolute;
}
#block-masquerade-0  .form-item .description {
	line-height:.9em;
}

#block-search-0 {margin-left:12px; margin-bottom:28px;}
#block-search-0 input {
	width:142px;
  font-size:17px;
  height:24px;
}
#block-search-0 h2.centenary-search {
  position: absolute;
  z-index: 500;
  margin-top: 4px;
  margin-left: 5px;
  color: gray;
  font-style: italic;
}

#block-block-3 .content, /*  get involved and resources p */
#block-block-4 .content {
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	color: #ffffff;
	line-height: 8px;
}

#block-block-4 img {
	width: 160px;
	height: auto;
	margin-left: -10px;

}

#block-block-4 {
}

#block-block-3 a:link {
	text-decoration:none;
}

#block-block-3 a img {
	margin-right: 3px;
	display:inline-block;
	-moz-opacity:.50; 
	filter:alpha(opacity=50); 
	opacity:.50;
	}

#block-block-3 a img:hover {
	-moz-opacity:1.0; 
	filter:alpha(opacity=100); 
	opacity:1.0; 
	}
	
#block-block-3 .content {
		margin-bottom:9px;
	}

/*----------- end -------------*/



.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
    margin-top: 0px;
}

#footer {
	z-index:5;
	position:relative;
	color: #ffffff;
	font-size: 85%;
	text-align:right;
	margin-top: 7px;
}

#footer a {
	padding: 1px;
	padding-right:10px;
	padding-left: 9px;
	border-right: 1px solid #ffffff;
	line-height: 11px;
}

#footer a.last {
	border-right: 0px solid #ffffff;
}

#footer a.sitelink {
	border-right: 0px solid #ffffff;
	padding-right: 0px;
	padding-left: 0px;
	background-image: url(../images/bahai-us-icon.png);
	background-repeat:no-repeat;
	margin-top: -7px;
	width:168px;
	height:26px;
	display:block;
	float:right;
	color: #003359 !important;
	font-size: 9px;
}

#footer a.sitelink:hover {
	background-image: url(../images/bahai-us-icon-hover.png);
	color: #00639f !important;
}

#footer a:link {
	color: #fff;
	text-decoration:none;
}

#footer a:visited {
	color: #fff;
	text-decoration:none;
}

#footer a:hover,
#footer a:focus {
	color: #35a4e7;
	text-decoration:none;
}

#footer a:active {
	color: #fff;
}


ul.links {
	margin: 0px;
}

ul.links li {
	padding: 0px;
}

#footer span.ext { display:none; }


/* ----- theme page content ------------------------------------------------ */
.field-field-history {
	display:block;
	float:right;
	width: 202px;
	padding-left: 15px;
	margin-left: 15px;
	border-left: solid 1px #003359;
	margin-top: 0px;
        color:saddleBrown;
        padding-bottom:20px;
        clear:right;
}
.field-field-history .field-items:before {
  content:"Historical Perspective";
  font-weight:bold;
  font-size:16px;
}

div.node.build-mode-full div.content .field-field-overview p {
  font-size:14.5px;
  margin:9px;
  font-family:Georgia, "Times New Roman", serif !important;
}

#node-708 .field-field-overview p,
.views-field-field-overview-value #node-708 p {font-size:16px !important; padding-top:17px;}

#node-1248 .field-field-overview p {
  font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif !important;
  font-size:14px !important;
  margin:12px 0 !important;
  line-height:1.4em !important;
}

.views-field-title a {
	text-decoration:none;
}

#views_slideshow_singleframe_main_home_page_overview_slideshow-block_1 .views-field-field-main-image-fid, .field-field-small-photo,
.node.build-mode-full .field-field-main-image {
	float:right;
	margin-right:15px;
	margin-left: 15px;
	margin-bottom: 10px;
	margin-top: -25px;
}

.node.build-mode-full .field-field-main-image {
	margin-right: 0px;
  margin-top: 19px;
}

.field-field-large-photo {
	width: 735px;
	margin-left: -18px;
	margin-bottom:20px;
}

.field-field-photo-caption {
	text-align:right;
	color: #ffffff;
	display:block;
	padding: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	float:right;
	z-index: 20 !important;
	background-color:#000000;
	-moz-opacity:.70; filter:alpha(opacity=70); opacity:.70;
	position:absolute;
	width:auto;
	margin-top: -60px;
	margin-left: -18px;
}
.field-field-photo-caption p {
	margin:0px;
	padding:0px;
}

/* ----- Sidebar blocks ------------------------------------------------ */
.region-navigation { margin:28px 0; z-index:20; }
.region-navigation .form-item .description { font-size: 9px; }
.region-navigation h2.title { margin: 12px 0 2px; }
#block-masquerade-0 .form-submit,
#block-search-0 .form-submit { display:none; }


/* ----- theme page overview ------------------------------------------------ */

/* ----- map view ---------------------------------------------------------- */
#block-views-travelmap-block_1 div.view-content {
  background: url("/sites/all/themes/centenary/images/map-large-4.jpg") no-repeat scroll left top transparent;
  height: 425px;
  position: relative;
  width: 700px;
}
.travelmap-city-marker { position:absolute; }
.travelmap-city { position:absolute; height:1px; width:1px; }
.travelmap-city-assets { display:none; }


/* ----- Teasers ------------------------------------------------------------*/
.node-teaser .node-body, .field-field-assets .node-body,
.node-teaser .location-locations-header, .field-field-assets .location-locations-header,
.node-teaser .location-locations-wrapper, .field-field-assets .location-locations-wrapper
{ display:none; }

.field-field-assets .centenary-node, .node-teaser .centenary-node 
{
	width:196px;
	font-family: "arial" sans-serif;
	overflow:hidden;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}

.field-field-assets .field-label { background: #E0E6DC; padding: 2px; margin-bottom:4px; }
.field-field-assets .centenary-node { margin: 6px 8px; float: left; }

.field-field-assets { margin-top: 24px; }

.node-teaser .centenary-node a, 
.field-field-assets .centenary-node a { text-decoration:none; font-family: "arial" sans-serif; }

.field-field-assets .centenary-node div.content,
.node-teaser .centenary-node div.content 
{ height: 55px; width: 55px; overflow: hidden; position:relative; background: #E0E6DC; clear:none;}

.teaser-header {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  display: block;
  background:#00629f;
  color:white;
  padding:0 6px;
}
.teaser-header a {color:white;}

.field-field-assets .centenary-node h2.title,
.node-teaser .centenary-node h2.title
{
  display: block;
  float: left;
  height: 45px;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  width: 129px;
  background:#e0e6dc;
  padding: 5px 6px;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.field-field-assets .centenary-node h2.title a,
.node-teaser .centenary-node h2.title a { height:42px; overflow:hidden; display:block; }

.node-teaser .centenary-node .field-field-main-image,
.field-field-assets .centenary-node .field-field-main-image { margin:0; }

.field-field-assets .centenary-node .swftools,
.node-teaser .centenary-node .swftools { height:31px; width:31px; z-index:100; position:absolute; top:12px; left:12px; }

.right {float:right; margin-left:12px;}
.left {float:left; margin-right: 12px;}


/* -------------------- related resources sidebar -------------------------------- */
#block-views-related_resources-block_1 {
	display:block;
	width: 140px;
	background-color: #0063a0;
	color: #ffffff;
	padding: 16px;
	padding-right: 12px;
	padding-top: 14px;
	padding-bottom: 14px;
	margin-bottom: 74px;
	margin-top: 74px;
	margin-left: 10px;
	z-index: 10;
	clear:both;
}

#block-views-related_resources-block_1 .view-header h2 {
	margin:0px;
	padding:0px;
	margin-bottom:9px; 
	color: #ffffff !important;
	}
	
#block-views-related_resources-block_1 a .node-type-icon {
	display:block;
	float:left;
	width: 24px;
	height: 20px;
	margin-left: -24px;
	background-repeat:no-repeat;
	background-position:left top;
	-moz-opacity:.50;
	filter:alpha(opacity=50);
	opacity:.50;
}

#block-views-related_resources-block_1 .view-content  a {
	display:block;
	margin-bottom:6px;
	margin-left: 24px;
}

#block-views-related_resources-block_1 .view-content  a:link, #block-views-related_resources-block_1 .view-content  a:visited {
	color: #ffffff;
	margin-bottom:9px;
}

#block-views-related_resources-block_1 .view-content  a:hover, #block-views-related_resources-block_1 .view-content  a:focus {
	color: #35a4e7;
	text-decoration:none;
}

#block-views-related_resources-block_1 a .node-type-icon:hover {
	-moz-opacity:1;
	filter:alpha(opacity=100);
	opacity:1;
}

#block-views-related_resources-block_1 .city { /* icon for city related links */
	background-image:url(../images/resource-city.png);
}
#block-views-related_resources-block_1 .encounter { /* icon for encounter related links */
	background-image:url(../images/resource-encounter.png);
}
#block-views-related_resources-block_1 .image { /* icon for photo related links */
	background-image:url(../images/resource-photos.png);
}
#block-views-related_resources-block_1 .clip { /* icon for newspaper related links */
	background-image:url(../images/resource-clip.png);
}
#block-views-related_resources-block_1 .talk { /* icon for talk related links */
	background-image:url(../images/resource-talk.png);
}
#block-views-related_resources-block_1 .theme_overview { /* icon for theme related links */
	background-image:url(../images/resource-theme-overview.png);
}
#block-views-related_resources-block_1 .vignette { /* icon for vignette related links */
	background-image:url(../images/resource-vignette.png);
}


/* ------ views 2 col grid --------------------- */

table.views-view-grid  td.col-1 {
	vertical-align:top;
	padding-right: 30px;
}
table.views-view-grid  td.col-2 {
	vertical-align:top;
	padding-left: 30px;
}


table.views-view-grid  .views-field-title h2  {
	margin-top:24px;
	padding-top: 0px;
	margin-bottom: 0.2em;
}

table.views-view-grid .views-field-title-1 {
	font-size: 90%;
	float:right;
	display:inline-block;
	margin-top: -20px;
}

/* -------------------- views ---------------------------- */

.view-Pictures .views-field-field-main-image-fid img {
padding: 0 27px;
position:absolute;
}

.view-Pictures h2 {
height: 35px;
width: 302px;
vertical-align: bottom;
padding: 0 8px;
background: #003359;
color: white;
line-height: 35px;
text-align:center;
}
.view-Pictures tr td { height:274px; }
.view-Pictures .transparent-caption {
  position:relative;
  right:-91px;
  bottom:-174px;
  width:200px;
  height:12px;
  overflow:hidden;
}
.view-Pictures .views-field-edit-node {position:absolute;}

.view-Talks .views-field-edit-node {position:absolute;bottom:12px;left:525px;}

.view-events-block.view-display-id-page_1 .views-field-nid {
position: relative;
top: 13px;
font-variant: small-caps;
font-size: 17px;
padding-top: 11px;
}
.view-events-block .views-field-field-main-image-fid { float:left; margin-right:9px; }

#block-views-tagged_content-block_1,
#block-views-tagged_content-block_2 {
  width:45%;
  float:left;
  padding:0 2%;
  background: #fff url("../images/main-back.png") repeat-x bottom left;
  border-radius: 8px;
  margin-right:2%;
}

#block-views-tagged_content-block_2 { float:right; margin-right:0; }

#block-views-tagged_content-block_1 .view-content li,
#block-views-tagged_content-block_2 .view-content li {
  padding:4px 0;
  list-style: none;
}
#block-views-tagged_content-block_1 .view-content li {clear:left; position:relative;}

#block-views-tagged_content-block_2 .view-content li {
  display:block;
  width:45%;
  padding: 0 2%;
  position:relative;
  float:left;
  min-height: 65px;
}

#block-views-tagged_content-block_2 .view-content li .views-field-field-main-image-fid {
  margin:0 auto;
  width:132px;
}
#block-views-tagged_content-block_2 .views-field-field-main-image-fid img {height:111px; width:132px;}
#block-views-tagged_content-block_1 .views-field-field-main-image-fid {float:left; padding-right:9px;}

#block-views-tagged_content-block_1 .view-content img {
  -webkit-box-shadow: 0px 2px 8px #444;
  -moz-box-shadow: 0px 2px 8px #444;
  box-shadow: 0px 2px 8px #444;
}

#block-views-tagged_content-block_2 .view-content li .views-field-title,
.view-daily.view-display-id-page .views-field-title,
.view-daily.view-display-id-page .attachment .view-display-id-attachment_4 .views-field-title
{
  position:absolute;
  bottom: 9px;
  line-height:14px;
  text-align:center;
  width:95%;
}
#block-views-tagged_content-block_2 .view-content li .views-field-title a,
.view-daily.view-display-id-page .views-field-title a,
.view-daily.view-display-id-page .attachment .view-display-id-attachment_4 .views-field-title a
{
  font-size:10px;
  border-radius:3px;
  font-weight:bold;
  background:white;
  opacity:0.8;
  padding:2px 0;
  box-shadow: 2px 4px 6px grey;
}

#block-views-tagged_content-block_1 h2.title,
#block-views-tagged_content-block_2 h2.title {
  font-family: 	Arial,Helvetica,"Nimbus Sans L",sans-serif;
  padding-top: 19px;
}

#block-views-city_list-block_1 {width:233px; float:left; margin-left:40px;}
#block-views-city_list-block_2 {width:233px; float:left;}
#block-views-city_list-block_3 {width:193px; float:left;}


body.page-views.section-daily h1.title {text-align:center; font-size:16px; padding-top:12px; border-top:double;}
.view-daily h1.headline {font-size:28px; text-align:center; font-variant:small-caps; margin-bottom:19px; padding-bottom:12px; border-bottom:double;}
.view-daily .header-link {float:left; font-family:Georgia, "Times New Roman", serif;}
.view-daily .header-link.next {float:right;}

.view-daily.view-display-id-page .views-row {width:230px; height:200px; overflow:hidden; float:left; position:relative;}
.view-daily.view-display-id-page .views-field-title a,
.view-daily.view-display-id-page .attachment .view-display-id-attachment_4 .views-field-title a {font-size:12px; font-family: Georgia, Serif; font-variant:small-caps;}
.view-daily.view-display-id-page .views-field-field-main-image-fid img {height:178px; width:211px;}
.view-daily .views-field-field-audio-fid {height:30px; width:30px; overflow:hidden; position:absolute; top:20px;}
.view-daily.view-display-id-page .view-empty {padding: 0px 40px; clear:left;}

.view-daily.view-display-id-page .attachment .view-content {clear:none;}
.view-daily.view-display-id-page .attachment .view.view-daily {margin-bottom:19px;}
.view-daily.view-display-id-page .attachment .views-row {width:100%; height:auto; padding:9px 0; float:none }
.view-daily.view-display-id-page .attachment .views-field-title {position:static; bottom:auto; text-align:left; width:auto;}
.view-daily.view-display-id-page .attachment .views-field-title a {font-size:medium; background: none transparent; opacity:1; box-shadow:none; font-variant:normal;}
.view-daily.view-display-id-page .attachment .views-field-field-main-image-fid img {height:auto; width:auto;}
.view-daily h2.headline {font-size: 24px; font-variant: small-caps; margin:0;}

.view-daily.view-display-id-page .attachment .view-display-id-attachment_1 .views-row {padding:9px 12px;}
.view-daily.view-display-id-page .attachment .view-display-id-attachment_1 .views-field-field-main-image-fid {float:left; margin-right:20px;}
.view-daily.view-display-id-page .attachment .view-display-id-attachment_1 .views-field-title {font-style:italic;}
.view-daily.view-display-id-page .attachment .view-display-id-attachment_1 .views-field-field-audio-fid {position:relative; height:auto; width: auto; top:7px;}
.view-daily.view-display-id-page .attachment .view-display-id-attachment_1 .views-field-name {position:absolute; bottom:22px; right:60px; color:#A4AA9F; font-size:11px;}

.view-daily.view-display-id-page .attachment .view-daily.view-display-id-attachment_2,
.view-daily.view-display-id-page .attachment .view-daily.view-display-id-attachment_3 {position:relative; float:right; clear:right; width:230px; padding:0; margin-right:10px;}
.view-daily.view-display-id-page .attachment .view-display-id-attachment_2 h2.headline,
.view-daily.view-display-id-page .attachment .view-display-id-attachment_3 h2.headline {font-size:19px;}
.view-daily.view-display-id-page .attachment .view-display-id-attachment_2 .views-field-field-main-image-fid,
.view-daily.view-display-id-page .attachment .view-display-id-attachment_3 .views-field-field-main-image-fid {float:left; margin-right:9px;}


.view-daily.view-display-id-page .attachment .view.view-daily.view-display-id-attachment_4 {position:relative; float:left; width:448px; border:none; margin-right:0; margin-bottom:0; padding:0px 12px 0 0;}
.view-daily.view-display-id-page .attachment .view-display-id-attachment_4 .views-field-field-main-image-fid img {height:333px; width:396px;}
.view-daily.view-display-id-page .attachment .view.view-daily.view-display-id-attachment_4 .views-field-title {line-height:28px;}
.view-daily.view-display-id-page .attachment .view.view-daily.view-display-id-attachment_4 .views-field-title a {font-size:24px;}
#views_slideshow_singleframe_pager_daily-attachment_4 {position:absolute; top:48px; font-family: Century, "Times New Roman", serif; z-index:1000;}
#views_slideshow_singleframe_pager_daily-attachment_4 .pager-item a {border-radius: 20px; border: 1px solid #dee6d8; display:inline-block; height:16px; width:16px; line-height:15px; text-align:center; font-size:11px;}
#views_slideshow_singleframe_pager_daily-attachment_4 .pager-item.activeSlide a {background:lightgoldenrodyellow;}

.view-daily.view-display-id-page .attachment .view-header,
.view-daily.view-display-id-page .attachment .view-header {
  border: 1px solid #dee6d8; border-bottom:none; padding:12px 19px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.view-daily.view-display-id-page .attachment .view-content,
.view-daily.view-display-id-page .attachment .view-content {
  border: 1px solid #dee6d8; border-top:none; padding:0px 19px 19px;
  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.view-daily.view-display-id-page .attachment .view-display-id-attachment_4 .view-header,
.view-daily.view-display-id-page .attachment .view-display-id-attachment_4 .view-content {border:none;}


/* -------------------- news clippings ------------------- */
.node-type-clip #content p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	line-height: 1.5em;
	font-weight: normal;
	margin: 8px;
	text-indent: 2em;
}

.node-type-clip div.field, .node-type-clip div.field-field-pubname, .node-type-clip .location  {
	font-size: 0.8em;
	line-height: 1.2em;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  margin: 0px;
}

.node-type-clip div.field-field-pubname {
	margin-top: 10px;
}

.node.build-mode-full .field-field-clip-img {
	float: right;
	margin: 10px !important;
	margin-left: 20px !important;
	margin-top: 5px !important;
	clear:right;
}

.node-type-clip .field-field-clip-img .field-item {
	margin-bottom: 10px;
	display:block;
	border: 1px #cccccc solid;
	line-height: .5em;
}

/********************* Form items *********************************************/

#taxonomy-5-container .form-item {clear:both;}
